KuznetsovVV_Counter/Client/Service References/CounterService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="AddIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" type="xs:int" />
        <xs:element minOccurs="0" name="counterKey" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIndicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicationsThroughAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicationsThroughAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetIndicationsThroughAccountResult" nillable="true" type="q1:ArrayOfCounterIndicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicationsThroughDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="begin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicationsThroughDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetIndicationsThroughDateResult" nillable="true" type="q2:ArrayOfCounterIndicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>