KuznetsovVV_Counter/Client/Service References/CounterService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCounterIndicationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CounterIndicationData" type="tns:CounterIndicationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCounterIndicationData" nillable="true" type="tns:ArrayOfCounterIndicationData" />
  <xs:complexType name="CounterIndicationData">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountKey" type="xs:int" />
      <xs:element minOccurs="0" name="CounterKey" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicationId" type="xs:int" />
      <xs:element minOccurs="0" name="Measure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterIndicationData" nillable="true" type="tns:CounterIndicationData" />
</xs:schema>